<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
</head>
<body>
    <h3>Test App  <a href="/">Home</a> <a href="/signin">Sign</a></h3>
    <div>
        <!-- style with grey box background -->
        <h2>Welcome to the Test</h2>
        <h4>We're going t obuild a cool app, and you're gonna like it.</h4>
        <form action="/register">
            <button>Start</button>
        </form>
    </div>
    <div class="side_by">
        <h5>Manage Users</h5>
        <p>You can manage users!  Pretty self explanatory</p>

    </div>
    <div class="side_by">
        <h5>Leave Messages</h5>
        <p>I don't have to explain this one do I?</p>

    </div>
    <div class="side_by">
        <h5>Edit User Information</h5>
        <p>Save the world with superpowers!  Just kidding, you're an admin.</p>
    </div>

</body>
</html>