<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Sign In </title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <h3>Test App  <a href="/">Home</a> <a href="/signin">Sign in</a></h3>

    <div class="side_by">
        <form action="/log_in" method="POST">
            {% csrf_token %}
            <h2>Login</h2>
            <label for="email">Email: </label>
            <input type="text" name="email" id=""><br>
            <label for="password">Password: </label>
            <input type="text" name="password" id=""><br>
            <button>Log In</button>
        </form>
    </div>
    
    {% if messages %}
    <ul class="messages">    
        {% for message in messages %}    
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
        {% endfor %}
    </ul>
    {% endif %}

    <a href="/register">Don't have an account? Register</a>
</html>