<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <title>Dashboard</title>
    </head>
<body>
    <h3>Test App  <a href="/">Home </a> <a href="/log_out">Log out</a></h3>
    

    <h2>Manage Users</h2>
    <table>
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>created_at</th>
            <th>user_level</th>
            
        </thead>
        {% for user in all_users %}
        <tr>
            <td>{{user.id}}</td>
            <td><a href="/users/show/{{user.id}}">{{user.name}}</a></td>
            <td>{{user.email}}</td>
            <td>{{user.created_at}}</td>
            <td>{% if user.user_level == 9 %} Admin {% endif %} {% if user.user_level == 1 %} Normal {% endif %}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="/users/edit">Edit your information</a>
    
</body>
</html>