<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <title>Admin Dashboard</title>
    </head>
<body>
    <h3>Test App  <a href="/">broken home link</a> <a href="/sign_in">Broken sign in</a></h3>
    <form action="/users/new">
        <button>Add new</button>
    </form>

    <h2>Manage Users</h2>
    <table>
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>created_at</th>
            <th>user_level</th>
            
        </thead>
        <tr>
            <td>some</td>
            <td>filler</td>
            <td>infor</td>
            <td>mation</td>
            <td>for</td>
            
        </tr>
    </table>
    <h3>SET UP LOOP</h3>
    
</body>
</html>